<% provide(:title, @taxon.name) %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render partial: 'taxonomies', locals: { taxonomies: @taxonomies } %>
        <%= render 'search' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render partial: 'select_filter' %>
        <div class="row">
          <%= render partial: 'product', collection: @products %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'layouts/partner' %>
