<!-- PLUGINS CSS STYLE -->
<%= stylesheet_link_tag "application", :media => "all" %>
<!-- GOOGLE FONT -->
<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all" %>
