<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head_meta' %>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= render 'layouts/head_style' %>
    <%= render 'layouts/head_IEsupport' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/light_section' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
